# Конфигурационные файлы
Config/*
!Config/__init__.py

# Виртуальное окружение
.venv/

# Кэшированные файлы Python
__pycache__/
*.pyc
*.pyo

# Миграции Alembic
Database/migrations/versions/__pycache__/
Database/migrations/script.py.mako

# Файлы базы данных
*.sqlite
*.db
*.sql

# Логи и временные файлы
*.log
*.tmp

# Файлы IDE
.vscode/

# Системные файлы Windows
Thumbs.db
desktop.ini